@page "/settings"
@using HeroesProfile.Core.CQRS.Queries
@using HeroesProfile.Core.CQRS.Commands
@using HeroesProfile.Core.Models
@using MediatR

<PageProgress Visible=@(userSettings == null) />

<Row>
    <Heading Size=HeadingSize.Is2>Settings</Heading>
</Row>

@if (userSettings != null)
{
    <!-- Auth Row -->
    <Row>
        <Column>
            <Field Horizontal="false">
                <FieldLabel>Twitch BroadcasterId</FieldLabel>
                <TextEdit Placeholder="Twitch Broadcaster Id" Text=@userSettings.BroadcasterId />
            </Field>
            <Field Horizontal="false">
                <FieldLabel>Twitch ClientId</FieldLabel>
                <TextEdit Placeholder="Twitch Client Id" Text=@userSettings.TwitchClientId />
            </Field>
            <Field Horizontal="false">
                <FieldLabel>Twitch AccessToken</FieldLabel>
                <TextEdit Placeholder="Twitch Access Token" Text=@userSettings.TwitchAccessToken />
            </Field>
        </Column>
        <Column>
            <Field Horizontal="false">
                <FieldLabel>Heroes Profile Api Email</FieldLabel>
                <TextEdit Placeholder="Heroes Profile Email" Text=@userSettings.HeroesProfileApiEmail />
            </Field>
            <Field Horizontal="false">
                <FieldLabel>Heroes Profile Api UserId</FieldLabel>
                <TextEdit Placeholder="Heroes Profile User Id" Text=@userSettings.HeroesProfileUserId />
            </Field>
            <Field Horizontal="false">
                <FieldLabel>Heroes Profile Twitch Key</FieldLabel>
                <TextEdit Placeholder="Heroes Profile API Key" Text=@userSettings.HeroesProfileTwitchKey />
            </Field>
        </Column>
    </Row>

    <!-- Toggles Row -->
    <Row>
        <Column>
            <Field Horizontal="false">
                <FieldLabel>Auto Predictions</FieldLabel>
                <Switch TValue="bool" @bind-Checked=@userSettings.EnablePredictions />
            </Field>
            <Field Horizontal="false">
                <FieldLabel>BattleTags for Predictions</FieldLabel>
                <MemoEdit Rows="5" @bind-Text="battleTags" />
            </Field>
            <Field Horizontal="false">
                <FieldLabel>Talents Extension</FieldLabel>
                <Switch TValue="bool" @bind-Checked=@userSettings.EnableTwitchExtension />
            </Field>
            <Field Horizontal="false">
                <FieldLabel>Purge Deleted Replays from the Database</FieldLabel>
                <Switch TValue="bool" />
            </Field>
        </Column>
        <Column>
            <Field Field Horizontal="false">
                <FieldLabel>Launch PreMatch Analysis</FieldLabel>
                <Switch TValue="bool" @bind-Checked=@userSettings.EnablePreMatch />
            </Field>
            <Field Horizontal="false">
                <FieldLabel>Launch PostMatch Analysis</FieldLabel>
                <Switch TValue="bool" @bind-Checked=@userSettings.EnablePostMatch />
            </Field>
        </Column>
    </Row>
    <Row>
        <Field>
            <Button Color="Color.Primary" Type="ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked=@(() => SaveChanges())>Save Changes</Button>
        </Field>
    </Row>
}

@code {

    private UserSettings userSettings;
    private string battleTags;

    [Inject]
    private IMediator Mediator { get; set; }


    protected async override Task OnInitializedAsync()
    {
        GetUserSettings.Response response = await Mediator.Send(new GetUserSettings.Query());
        battleTags = string.Join(Environment.NewLine, response.UserSettings.BattleTags);
        userSettings = response.UserSettings;
        StateHasChanged();
        await base.OnInitializedAsync();
    }

    protected async Task SaveChanges()
    {
        userSettings.BattleTags.Clear();
        userSettings.BattleTags.AddRange(battleTags.Split(Environment.NewLine));
        await Mediator.Send(new UpdateUserSettings.Command(userSettings));
    }
}