@page "/settings"

<h1>Settings</h1>

@message

<button class="btn btn-primary" @onclick="Save">Save</button>

@code {

    private string message;

    private void Save()
    {
        message = "Saved";
    }

}
