@page "/analysis"
@using ReactiveUI.Blazor
@using System.Reactive.Threading.Tasks
@using System.Text.Json
@inherits ReactiveComponentBase<AnalysisViewModel>

<PageProgress Visible="@(ViewModel == null)" />

<Row>
    <!-- Files -->
    <Column ColumnSize=ColumnSize.Is4>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>File Detection</CardTitle>
            </CardHeader>
            @*
                @if (ViewModel.FeatureDisabled)
                {
                <CardBody>
                <Alert Color=Color.Info>This feature is toggled off in the settings</Alert>
                </CardBody>
                }
                else
                {

                }*@

            <CardBody>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">BattleLobby</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        @if (ViewModel.HasBattleLobby)
                        {
                            <TextEdit Text=@ViewModel.Session.Files.BattleLobby.Created.ToString() ReadOnly=true />
                        }
                        else
                        {
                            <TextEdit Text="Pending" ReadOnly=true />
                        }
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">StormSave</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        @if (ViewModel.HasStormSave)
                        {
                            <TextEdit Text=@ViewModel.Session.Files.StormSave.Created.ToString() ReadOnly=true />
                        }
                        else
                        {
                            <TextEdit Text="Pending" ReadOnly=true />
                        }
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">StormReplay</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        @if (ViewModel.HasStormReplay)
                        {
                            <TextEdit Text=@ViewModel.Session.Files.StormReplay.Created.ToString() ReadOnly=true />
                        }
                        else
                        {
                            <TextEdit Text="Pending" ReadOnly=true />
                        }
                    </FieldBody>
                </Field>
            </CardBody>
        </Card>
    </Column>
    <!-- Match Analysis -->
    <Column ColumnSize=ColumnSize.Is4>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Heroes Profile Analysis</CardTitle>
            </CardHeader>
            <CardBody>
                <!-- TODO: Notice Alert if feature disabled -->
            </CardBody>
            <CardBody>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Pre Match</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        @if (ViewModel.HasPreMatch)
                        {
                            <Addons>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit Size=Size.Small Text="Pre match data available." ReadOnly=true />
                                </Addon>
                                <Addon AddonType="AddonType.End">
                                    <Button Color=Color.Primary Size=Size.Small @onclick=@((e) => ViewModel.OpenInBrowser(ViewModel.Session.PreMatchUri.ToString()))>Open WebLink</Button>
                                </Addon>
                            </Addons>
                        }
                        else
                        {
                            <TextEdit Text="No data available." ReadOnly=true />
                        }
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Post Match</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        @if (ViewModel.HasPostMatch)
                        {
                            <Addons>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit Size=Size.Small Text="Post match data available." ReadOnly=true />
                                </Addon>
                                <Addon AddonType="AddonType.End">
                                    <Button Color=Color.Primary Size=Size.Small @onclick=@((e) => ViewModel.OpenInBrowser(ViewModel.Session.PostMatchUri.ToString()))>Open WebLink</Button>
                                </Addon>
                            </Addons>
                        }
                        else
                        {
                            <TextEdit Text="No data available." ReadOnly=true />
                        }
                    </FieldBody>
                </Field>
            </CardBody>
        </Card>
    </Column>
</Row>

<Row>
    <!-- Talents -->
    <Column ColumnSize=ColumnSize.Is4>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Twitch Talents Extension</CardTitle>
            </CardHeader>
            <CardBody>
                <!-- TODO: Notice Alert if feature disabled -->
            </CardBody>
            <CardBody>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Session ID</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        @if (ViewModel.Session.TalentsExtension.SessionId != null)
                        {
                            <TextEdit Text=@ViewModel.Session.TalentsExtension.SessionId ReadOnly=true />
                        }
                        else
                        {
                            <TextEdit Placeholder="None" ReadOnly=true />
                        }
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Tracker Event Index</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <TextEdit Text=@ViewModel.Session.TalentsExtension.TrackerEventIndex.ToString() ReadOnly=true />
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is4">Talents Detected</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is8">
                        <TextEdit Text=@ViewModel.Session.TalentsExtension.PlayerFoundTalents.Count().ToString() ReadOnly=true />
                    </FieldBody>
                </Field>
            </CardBody>
        </Card>
    </Column>
    <!-- Prediction -->
    <Column ColumnSize=ColumnSize.Is4>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Twitch Auto Predictions</CardTitle>
            </CardHeader>
            <CardBody>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is6">Prediction ID</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is6">
                        @if (ViewModel.Session.Prediction.PredictionId != null)
                        {
                            <TextEdit Text=@ViewModel.Session.Prediction.PredictionId ReadOnly=true />
                        }
                        else
                        {
                            <TextEdit Placeholder="None" ReadOnly=true />
                        }
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is6">Winning Outcome Id</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is6">
                        @if (ViewModel.Session.Prediction.WinningOutcomeId != null)
                        {
                            <TextEdit Text=@ViewModel.Session.Prediction.WinningOutcomeId ReadOnly=true />
                        }
                        else
                        {
                            <TextEdit Placeholder="None" ReadOnly=true />
                        }
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is6">Other Outcome Id</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is6">
                        @if (ViewModel.Session.Prediction.OtherOutcomeId != null)
                        {
                            <TextEdit Text=@ViewModel.Session.Prediction.OtherOutcomeId ReadOnly=true />
                        }
                        else
                        {
                            <TextEdit Placeholder="None" ReadOnly=true />
                        }
                    </FieldBody>
                </Field>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {

    [Inject]
    public AnalysisViewModel AnalysisViewModel
    {
        get => ViewModel;
        set => ViewModel = value;
    }

    protected async override Task OnInitializedAsync()
    {
        await AnalysisViewModel.LoadAsync();
    }
}